.container {
    width: 40vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    border: none;
    padding: 0.4rem;
    margin: 2rem;
    background-color: #637fdb;
    color: white;
    transition: all 0.3s ease-in-out;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.box:hover {
    cursor: pointer;
    background-color: white;
    color: #637fdb;
}

.box2{
    border: none;
    padding: 0.4rem;
    margin: 2rem;
    background-color: #637fdb;
    color: white;
    transition: all 0.3s ease-in-out;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-size: 1.2rem;
    animation: mover 2s linear infinite;
}

@keyframes mover{
    0%{
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}