<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{components/admin/recursos :: recursos}"></th:block>
    <title>Confirmar</title>
</head>
<body class="sb-nav-fixed">

    <nav th:replace="~{components/admin/topnav :: top_nav}"></nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <div th:replace="~{components/admin/sidebar :: side_nav(activo='estudios')}"></div>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Confirmar</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a th:href="@{/estudios}">Estudios</a></li>
                        <li class="breadcrumb-item active">Confirmar</li>
                    </ol>

                    <div class="card">
                        <div class="card-body">
                            <form th:action="@{/eliminar/estudio/{id}(id=${estudio.id})}" method="post">
                                <div class="row g-3 text-center">
                                    <div class="col-md-12">
                                        <h4 th:if="${estudio.activo}">¿Esta seguro de eliminar "<span th:text="${estudio.nombre}"></span>"?</h4>
                                        <h4 th:unless="${estudio.activo}">¿Esta seguro de reactivar "<span th:text="${estudio.nombre}"></span>"?</h4>
                                    </div>
                                </div>
                                <div class="row m-3">
                                    <div class="col-md-6">
                                        <button class="btn btn-outline-secondary" type="submit" style="width:100%">Si</button>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn btn-success" th:href="@{/estudios}" style="width:100%">No</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </main>

            <th:block th:replace="~{components/admin/footer :: pie_y_scripts}"></th:block>
        </div>
    </div>

</body>
</html>
